<!DOCTYPE html>
<html>
<head>
    <title>Loan Approval Predictor</title>
</head>
<body>
    <h2>Loan Approval Prediction</h2>
    <form action="/predict" method="post">
        Gender:
        <select name="Gender">
            <option>Male</option>
            <option>Female</option>
        </select><br>

        Married:
        <select name="Married">
            <option>Yes</option>
            <option>No</option>
        </select><br>

        Education:
        <select name="Education">
            <option>Graduate</option>
            <option>Not Graduate</option>
        </select><br>

        Self Employed:
        <select name="Self_Employed">
            <option>Yes</option>
            <option>No</option>
        </select><br>

        Property Area:
        <select name="Property_Area">
            <option>Urban</option>
            <option>Semiurban</option>
            <option>Rural</option>
        </select><br>

        Loan Amount: <input type="number" name="LoanAmount" step="0.01"><br>
        Loan Amount Term: <input type="number" name="Loan_Amount_Term"><br>
        Credit History (1 or 0): <input type="number" name="Credit_History" step="1" min="0" max="1"><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
    <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
